<h1>Candidates</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= link_to candidate.forename + ' ' + candidate.surname, candidate_path(candidate) %></td>
        <td><%= candidate.state %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New candidate', new_candidate_path, class: 'btn btn-primary' %><br/>
<%= link_to 'Back', candidates_path, class: "btn btn-default" %>
